-- Unified Schema for MQTT Ingestion (Installer v4+)
-- Generated: 2026-01-16

-- ==========================================
-- 1. CORE EVENTS (Layer 1)
-- ==========================================
CREATE TABLE IF NOT EXISTS mqtt_events (
    id BIGSERIAL PRIMARY KEY,
    event_time TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    camera_id TEXT,
    event_type TEXT,
    severity TEXT,
    source_id TEXT, -- Tracks Source Origin (e.g. VMS_10... or Haridwar)
    payload JSONB NOT NULL,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_mqtt_events_time ON mqtt_events (event_time DESC);
CREATE INDEX IF NOT EXISTS idx_mqtt_events_type ON mqtt_events (event_type);
CREATE INDEX IF NOT EXISTS idx_mqtt_event_type_time ON mqtt_events (event_type, event_time DESC);
CREATE INDEX IF NOT EXISTS idx_mqtt_source_id ON mqtt_events (source_id);


-- ==========================================
-- 2. ANPR TABLES (Layer 2 & 3)
-- ==========================================
CREATE TABLE IF NOT EXISTS anpr_event_fact (
  id BIGSERIAL PRIMARY KEY,
  event_time timestamptz NOT NULL,
  camera_id text, 
  camera_name text, 
  source_id text,   
  source_ip text,   
  plate_number text, 
  vehicle_type text,
  vehicle_color text,
  vehicle_make text,
  is_violation boolean DEFAULT false,
  violation_types text[],
  speed numeric,
  created_at TIMESTAMPTZ DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_anpr_fact_time ON anpr_event_fact (event_time);
CREATE INDEX IF NOT EXISTS idx_anpr_fact_camera ON anpr_event_fact (camera_id);

CREATE TABLE IF NOT EXISTS anpr_metrics_1min (
  bucket_time timestamptz NOT NULL,
  camera_id text NOT NULL,
  anpr_count integer NOT NULL DEFAULT 0,
  PRIMARY KEY (bucket_time, camera_id)
);

CREATE TABLE IF NOT EXISTS anpr_violation_metrics_1min (
  bucket_time timestamptz NOT NULL,
  violation_type text NOT NULL,
  violation_count integer NOT NULL DEFAULT 0,
  PRIMARY KEY (bucket_time, violation_type)
);


-- ==========================================
-- 3. FRS TABLES (Layer 2 & 3)
-- ==========================================
CREATE TABLE IF NOT EXISTS frs_event_fact (
    id BIGSERIAL PRIMARY KEY,
    event_time TIMESTAMPTZ NOT NULL,
    camera_id TEXT,
    camera_name TEXT,
    person_id TEXT,
    person_name TEXT,
    gender TEXT,
    age INT,
    match_id TEXT,
    track_id TEXT,
    det_conf NUMERIC,
    rec_conf NUMERIC,
    face_image_path TEXT,
    is_authorized BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ DEFAULT NOW()
);
CREATE INDEX IF NOT EXISTS idx_frs_fact_time ON frs_event_fact (event_time);

CREATE TABLE IF NOT EXISTS frs_metrics_1min (
    bucket_time TIMESTAMPTZ NOT NULL,
    camera_id TEXT NOT NULL,
    total_faces INT DEFAULT 0,
    unique_persons INT DEFAULT 0,
    male_count INT DEFAULT 0,
    female_count INT DEFAULT 0,
    PRIMARY KEY (bucket_time, camera_id)
);


-- ==========================================
-- 4. CONFIG & HELPERS
-- ==========================================
CREATE TABLE IF NOT EXISTS event_classification_rules (
    rule_id SERIAL PRIMARY KEY,
    event_type TEXT NOT NULL,
    condition_field TEXT NOT NULL,
    condition_operator TEXT NOT NULL,
    condition_value TEXT NOT NULL,
    resulting_state TEXT,
    priority INT DEFAULT 10
);

CREATE TABLE IF NOT EXISTS camera_master (
    camera_id TEXT PRIMARY KEY,
    camera_name TEXT,
    location TEXT,
    source_type TEXT
);
